################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Demos/FileContentIndex
/Azure Service Bus/Private Endpoints/ServiceBusClient/obj
/Azure Service Bus/Private Endpoints/ServiceBusClient/.vs
